#footer {
  border-top: 1px solid $grey-color-dark;
  padding: 10px;

  ul {
    list-style: none;
    margin-left: 0;
    li {
      margin-bottom: .4em;
    }
  }

  h2 {
    font-size: 22pt;
    margin-bottom: .1em;
  }
}
