
$col_padding: 2px;
$col_big_minwidth: 500px;
$col_minwidth: $col_big_minwidth / 2;
$article_big_height: 400px;
$article_height: $article_big_height / 2 - $col_padding;

$article_backgroundcolor: #FFF;
$title_color: #000;
$small_color: #aa9;

@mixin bg-margin($margin){
    margin-left: $margin;
    margin-top: $margin;
    width: calc(100% - #{$margin * 2});
    height: calc(100% - #{$margin * 2});
}

@mixin transition($time){
    transition: all $time linear;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

#grid {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;

    .col {
        flex-grow: 1;
        min-width: $col_minwidth;
        padding: $col_padding;

        article {
            height: $article_height;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                background: darken($article_backgroundcolor, 80%);
                @include transition(.5s);

                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-size: cover;
                    background-position: center center;
                    @include bg-margin(4px);
                    @include transition(.2s);
                }

                .title {
                    position: absolute;
                    bottom: 150%;
                    left: 0;
                    padding: 20px;
                    background: darken($article_backgroundcolor, 80%);
                    color: $title_color;
                    vertical-align: baseline;
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    @include transition(.2s);
                  
                    a{
                        color: $title_color;
                        text-decoration: none;
                    }
                    
                    small{
                        font-weight: normal;
                        font-size: 12px;
                        color: $small_color;
                    }
                }

                &:hover {
                    background: $article_backgroundcolor;
                    .bg{
                        @include bg-margin(10px);
                    }

                    .title{
                        background: $article_backgroundcolor;
                        bottom: 10%;
                    }
                }
            }
        }

        article:nth-child(2) {
            margin-top: $col_padding * 2;
        }

        .big {
            height: $article_big_height;
            min-width: $col_big_minwidth;
        }
    }
}

@media all and (max-width: 529px) {
    article {
        min-width: 200px !important;
    }
}