#header{
	h3, h5, ul {
		margin: 0;
	}
}

#branding {
	h3 a {
		color: #FFF;
		text-decoration: none;
	}
}

#tagline {
	margin-top: 5px;
	text-align: right;
}

#nav {
	margin-top: 10px;
	text-align: right;
	ul li {
	    display: inline;
	    margin: 0 20px 0 0;
	}
}
