---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "reset",
    "fonts",
    "homeheader",
    "homegrid",
    "post",
    "footer";

* {
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
    overflow-x: hidden;
}

