<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <link rel="icon" href="/images/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/scss/skeleton.css">
    <link rel="stylesheet" href="/scss/main.css">
</head>
<body>
    <header class="container" id="branding">
        <div class="three columns">
            <h1><a href="/">Le Club</a></h1>
        </div>

        <div id="nav" class="nine columns">
            <ul>
                <li><a href="/learn">Learn</a></li>
                <li><a href="http://github.com/leclub">Code</a></li>
                <li><a href="#">Fabricate</a></li>
                <li><a href="http://topogram.io">Topogram</a></li>
                <!-- <li><a href="http://github.com/leclub"><img src="/images/github.png" alt="Github"></a></li> -->
                <li><a href="/p5lyon">Processing Lyon</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

    </header>
