<div id="grid">
    {% capture nbPosts %}{{ include.collection.size | minus:1 }}{% endcapture %}
    {% assign inColumn = false %}

    {% comment %} Make it look like we have lots of posts with for loop {% endcomment %}
    {% for j in (0..2) %} 

        {% for i in (0..nbPosts) %}
            {% if inColumn == false %}
                {% if include.collection[i].categories contains 'big' %}
                    {% include grid_article.html index=i type=0 %}
                {% else %}
                    {% include grid_article.html index=i type=1 %}
                    {% assign inColumn = true %}
                {% endif %}
            {% else %}
                {% include grid_article.html index=i type=2 %}
                {% assign inColumn = false %}
            {% endif %}
        {% endfor %}

    {% endfor %}
</div>

<script src="/js/grid.js"></script>