<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ site.title }} | {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS Reset + Skeleton -->
    <link rel="stylesheet" href="{{ "/scss/normalize.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" href="{{ "/scss/skeleton.css" | prepend: site.baseurl }}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ "/scss/main.css" | prepend: site.baseurl }}">


    <!-- Favicon -->
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AGZmZgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAIAAAACAAAAACAAACAAAAAAAgACAAAAAAAAIAABERAAEQAAAAEAAAEAEAAAAQAAEAAAAAABAAAQAAAAAAEAABAAAAAAAQAAAQAQAAIBAAAAEQAgACAAAAAAAgAAAgAAAAAgAAAAIAAAAgAAAAAAAAAAAAD//wAA8A8AAOAHAADAAwAAgAEAAIABAACAAQAAgAEAAIABAACAAQAAgAEAAIABAADAAwAA4AcAAPAPAAD//wAA" rel="icon" type="image/x-icon" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
