<div id="team">
  <h4>Meet our team of tactical experts</h4>
  <div class="blurb row">
    <div class="blurb-author four columns">
      <img class="expert headshot circular" src="http://www.avatarpro.biz/avatar?s=150&cached={{ site.time | date: '%s%N' }}" alt="Lionel Radisson">
      <p>
        <strong><a href="http://makio135.com">Lionel Radisson</a></strong> is a designer, fab manager and maker. He founded the Processing Lyon community.
      </p>
    </div>
    <div class="blurb-author four columns">
        <img class="invert-colors expert circular" src="http://www.avatarpro.biz/avatar?s=150&cache={{ site.time | date: '%s%N' }}" alt="Clément Renaud">
      <p>
        <strong><a href="http://clementrenaud.com">Clément Renaud</a></strong> is a researcher, developer and artist specialized in data journalism and network visualization.
      </p>
    </div>
    <div class="blurb-author four columns">
        <img class="expert headshot circular" src="http://www.avatarpro.biz/avatar?s=150" alt="Lionel Radisson">
        <p>
          <strong><a href="http://www.avatarpro.biz/avatar?s=150&cache={{ site.time | date: '%s%N' }}">Clément Ribé</a></strong> is a developer and interactive designer based in Lyon.
        </p>
    </div>
  </div>
</div>
<script src="/js/glitch.js" charset="utf-8"></script>
<script>
  var glitmages = document.getElementsByClassName('expert');
  for (var i = 0; i < glitmages.length; i++) {
    Glitmage(glitmages[i]).start()
  };

</script>
