

<ul class="row">
<div class="six columns">
{% for workshop in site.workshops %}
  {% assign half = forloop.length | divided_by: 2 %}
  {% assign modulo = forloop.length | modulo: 2 %}
  {% assign remainder = half | plus: modulo %}
  {% if forloop.rindex >= remainder %}
    {% include workshops/index_item.html workshop=workshop %}
  {% endif %}
{% endfor %}
</div>

<div class="six columns">
{% for workshop in site.workshops %}
  {% assign half = forloop.length | divided_by: 2 %}
  {% if forloop.rindex <= half %}
    {% include workshops/index_item.html workshop=workshop %}
  {% endif %}
{% endfor %}
</div>

</ul>
