{{> header}}

<canvas id="headerCanvas"></canvas>
<div class="container">
	<h1>Processing Lyon</h1>
	<hr>
	<div class="row">
		<div class="six columns">
			<p>
				Les ateliers Processing Lyon sont des ateliers ouverts au public autour de la pratique du code créatif encadrés par Lionel Radisson, Clément Renaud et Clément Ribé.
			</p>
		</div>
		<div class="six columns">
			<p>
				Email: <a href="mailto:processing.lyon@gmail.com">processing.lyon@gmail.com</a><br>
				Twitter: <a href="http://twitter.com/p5lyon">@P5Lyon</a>
			</p>
		</div>
	</div>

	<hr class="row">
	
	<div class="row">
		{{#p5events collections.p5lyonEvents}}
		{{/p5events}}
	</div>
</div>
<script src="/js/p5noise.js"></script>
<script src="/js/headerCanvas.js"></script>

{{> footer}}