body{
	background: url("../images/simple_dashed.png");
	color: #FFF;
	overflow-x: hidden;
}

.row{
	margin-top: 20px;
}

#header{
	margin-bottom:20px;
}

#footer{
	margin-top: 40px;
}

hr{
	margin-top: -15px;
	margin-bottom: 10px;
}

.p5Title{
	color: #FFF;
	text-decoration: none;
}

#branding {
	padding-bottom: 20px;
	h1 a {
		color: #FFF;
		text-decoration: none;
	}
}

a {
	text-decoration: none;
} 

code {
	color: #F9F4F4;
	background: #4F4F4F;
	border: 1px solid #797575;
}
#nav {
    margin: 13px 0 0 0;
 
	ul li {
	    display: inline;
	    margin: 0 20px 0 0;
	    margin-bottom: 130px;
	}
 
	a {
		text-decoration: none;
	}
 
	a:hover {
		color: #FFF;
		text-decoration: underline;
	}
}
